:root {
    --main-bg-color: black;
    --main-transition-time: 5s;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('images/will-h-mcmahan-JHzutZd4hmU-unsplash.jpg');
    background-size: 80vw;
    background-repeat: no-repeat;
    background-position: top;
    background-color: var(--main-bg-color);
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.container {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-credits {
    display: inline-block;
    width: 100vw;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0;
    flex: 0;
    font-size: 4vw;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    color: #b8c3d6;
}

.title {
    text-transform: uppercase;
    flex: 0;
    font-size: 10vw;
    text-align: center;
    opacity: 90%;
    /*font-weight: 700;*/
    letter-spacing: 10px;
    color: #fff;
}

.motivation {
    background-color: var(--main-bg-color);
    color: #585a5c;
    text-align: center;
    font-size: 4vw;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-transform: uppercase;
}

.text-box {
    width: 400px;
    text-align: center;
    text-wrap: normal;
}

.text-box:hover {
    transform: scale(1.2, 1.2);
    color: #919599;
    text-shadow: 0 0 10px #DAE3F2,
                 0 0 20px #DAE3F2;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vw;
}

#sign-up-form {
    background-color: var(--main-bg-color);
    color: white;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    align-items: center;
    font-size: 2vw;
    margin: 2vw 5vw 5vw 5vw;
}

.main-fieldset {
    padding: 6vw 2vw 2vw 2vw;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add box shadow */
    border: 1px solid #ccc;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

legend {
    position: absolute;
    top: 20px;
}

input {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    min-height: 1vw;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
    border: 3px solid #9fb2d4;
}

.row {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    font-size: 1vw;
}

.label-field {
    display: flex;
    flex-direction: column;
    width: 15vw;
    gap: 8px;
}

.err {
    border: 3px solid #f74343;
}

.errorDiv {
    width: 75%;
    color: white;
    font-size: 1vw;
    background-color: #fa7373;
    border: 3px solid #f74343;
    border-radius: 10px;
    text-align: center;
}

button {
    margin: 2vw 0 1vw 0;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    background-color: #b8c3d6;
    width: 8vw;
    height: 3vw;
}

button:active {
    background-color: #9fb2d4;
}


